
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login Cover | CORK - Multipurpose Bootstrap Dashboard Template </title>

</head>
<body class="form">


    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Registro de Usuario</h1>
                        <form class="text-left">
                            <div class="form">
                                <div class="row">
                                    <div class="col">
                                        <div id="username-field" class="field-wrapper input">
                                            <input id="Identificacion" name="username" type="text" class="" placeholder="Identificación">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="username-field" class="field-wrapper input">
                                            <input id="Nombre" name="username" type="text" class="" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div id="username-field" class="field-wrapper input">
                                            <input id="Apellidos" name="username" type="text" class="" placeholder="Apellidos">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="widget-content widget-content-area">
                                            <select class="form-control  basic" id="perfil">
                                                <option  value="0"selected disabled>Perfil</option>
                                                <option value="1">Profesor</option>
                                                <option value="2">Estudiante</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div id="username-field" class="field-wrapper input">
                                            <input id="Email" name="username" type="text" class="" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="password-field" class="field-wrapper input mb-2">
                                            <input id="password" name="password" type="password" class="" placeholder="Contraseña">
                                        </div>
                                    </div>

                                </div>

                                <div class="d-sm-flex justify-content-between mt-4">

                                    <button style="border-radius: 10px;" type="button" class="btn btn-block" id="btnsuccesCreate">
                                        Registrar
                                    </button>
                                </div>



                            </div>
</form>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>



</body>
</html>