
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-container">

    <div class="brand-wrapper">
        <img src="~/Content/Imagenes/Logo_inicio.png" alt="logo" class="logo" style="width: 100px;position: absolute;left: 60px;margin-top: 31px;">
    </div>
    <div class="form-form">

        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">

                    <h1 class="" style="text-align:center; margin-bottom:50px;"> Reestablecer Contraseña</h1>
                    <form class="text-left">
                        <div class="form">
                            <div id="email-field" class="field-wrapper input">
                                <input id="email" name="email" type="text" value="" placeholder="Correo Electrónico">
                            </div>
                            <div class="d-sm-flex justify-content-between">

                                <button style="border-radius: 10px; " type="submit" class="btn btn-block" id="btnsucces">
                                    Enviar
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image">
        </div>
    </div>
</div>


