<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login Cover | CORK - Multipurpose Bootstrap Dashboard Template </title>
   
</head>
<body class="form">


    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Inicio de Sesión</h1>
                        <form class="text-left">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">

                                    <input id="email" name="username" type="text" class="" placeholder="Email">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <input id="password" name="password" type="password" class="" placeholder="Contraseña">
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper toggle-pass">
                                        <p class="d-inline-block">Mostrar Contraseña </p>
                                        <label class="switch s-primary">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>

                                </div>
                                <div class="d-sm-flex justify-content-between mt-4">

                                    <button style="border-radius: 10px;" type="button" class="btn btn-block" id="btnsuccesLogin">
                                        Ingresar
                                    </button>
                                </div>
                                <div class="field-wrapper mt-5">

                                    <a href="@Url.Action("ForgotPassword", "Login")" class="forgot-pass-link">¿Has olvidado la contraseña?</a>
                                </div>
                                <div class="field-wrapper mt-5">
                                    <span>¿No estás registrado?<strong><a href="@Url.Action("CreateUser", "Login")" class=""> Registar</a></strong></span>
                                
                                </div>


                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>



</body>
</html>