<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fe704578-3eab-4060-a21c-22a05d316ac5/resourceGroups/mipimas_group/providers/Microsoft.Web/sites/mipimas</ResourceId>
    <ResourceGroup>mipimas_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mipimas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mipimas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mipimas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$mipimas</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Pimas_PlataformaEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infraestructure.Models.Pimas_PlataformaEntities1, Infraestructure" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Pimas_PlataformaEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sinerticaprod.database.windows.net;Initial Catalog=Pimas_Plataforma;Persist Security Info=True;User ID=devsinertica;Password=Eiffel$$333;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Pimas_PlataformaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PimasModel.csdl|res://*/Models.PimasModel.ssdl|res://*/Models.PimasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sinerticaprod.database.windows.net;initial catalog=Pimas_Plataforma;persist security info=True;user id=devsinertica;password=Eiffel$$333;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pimas_PlataformaEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pimas_PlataformaEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>