
@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
    int userId = ViewBag.UserId;
}

<head>
    <link href="~/Content/grupos.css" rel="stylesheet" />

    <style>
        .imgcontenedor{
            display:flex;
            justify-content:center;
        }
        #imgcard {
            width: 200px;
            height: 200px;
           
        }
        
        /*        #conteinerImg_1 {
            background-color: #ff6961;
        }
        #conteinerImg_2 {
            background-color: #77dd77;
        }
        #conteinerImg_3 {
            background-color: #fdfd96;
        }*/
        .imgcontenedor {
            /*background-color: #84b6f4;*/
            padding-top: 10px;
        }

    </style>
</head>

<div class="overlay" id="overlay"></div>
<div class="d-flex justify-content-center mx-5 mt-3 mb-5">
    <div class="spinner-grow text-danger align-self-center" id="loader"></div>
</div>
<input type="text" name="name" value="@userId" id="useridFantasma" style="display:none;"/>
<div id="contengrupo" style="display:none;">
    <div class="form-row mb-4">
        <div class="row">
            <div class="row">
                <div class="col">

                    <div id="lblhidden" style="display:none;">
                        <label for="inputEmail4">Unidad: <span id="unidadHeader"></span></label>
                    </div>
                    <div>
                        <label for="inputEmail4">Grupo: <span id="Grupo"></span></label>
                    </div>

                </div>
                <div class="col">
                    <div id="lblhidden" style="display:none;">
                        <label for="inputEmail4">Capitulo: <span id="subtematicasHeader"></span></label>
                        <input type="text" name="name" id="idfantastaSubtematica" value="" style="display:none;" />
                    </div>
                    
                </div>
            </div>
        </div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="~/Content/imagenes/Default-Icon-2.png" alt="Icono de actividades" style="width: 30px; height: auto;"> Actividades
            </a>
        </p>


        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row">
                    <div class="row row-cols-2 row-cols-md-3">
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen1">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/TeoríayEjercicios.png" style="width: 50px; height: 50px;" data-value="1" class="tarjetaImagen" id="carImg1"/>
                                            <a href="#" data-value="1" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Teoria y Ejercicios</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="1"  data-value="1" id="f1" style="display: block; border: 2px solid #3DA1BF; ">                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen2">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/Solucionesdeloejercicios.png" style="width: 50px; height: 50px;" data-value="2" class="tarjetaImagen" id="carImg2"/>
                                            <a href="#" data-value="2" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Soluciones de los ejercicios</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="2" id="f2" style="display: block; border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen3">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/Actividades.png" style="width: 50px; height: 50px;" data-value="3" class="tarjetaImagen" id="carImg3"/>
                                            <a href="#" data-value="3" id="filtros"><h6 style="color: #3DA1BF;" class="text-center">Actividades</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="3" id="f3" style="display: block; border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen4">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/RespuestasdelasActividades.png" style="width: 50px; height: 50px;" data-value="4" class="tarjetaImagen" id="carImg4"/>
                                            <a href="#" data-value="4" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Respuestas de las Actividades</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="4" id="f4" style="display: block; border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen5">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/Resumen.png" style="width: 50px; height: 50px;" data-value="5" class="tarjetaImagen" id="carImg5"/>
                                            <a href="#" data-value="5" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Resumen</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="5" id="f5" style="display: block;border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen6">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/EjerciciosAdicionales.png" style="width: 50px; height: 50px;" data-value="6" class="tarjetaImagen" id="carImg6"/>
                                            <a href="#" data-value="6" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Ejercicios adicionales con respuestas</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="6" id="f6" style="display: block;border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen7">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/Autoevaluación.png" style="width: 50px; height: 50px;" data-value="7" class="tarjetaImagen" id="carImg7" />
                                            <a href="#" data-value="7" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Autoevaluacion</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="7" id="f7" style="display: block; border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100" id="carImagen8">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/Proyectos.png" style="width: 50px; height: 50px;" data-value="9" class="tarjetaImagen" id="carImg8"/>
                                            <a href="#" data-value="9" id="filtros"> <h6 style="color: #3DA1BF;" class="text-center">Profundización</h6></a>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <div class="form-check">
                                                <input class="form-check-input filtro" style="display:none;" type="checkbox" value="8" data-value="9" id="f9" style="display: block; border: 2px solid #3DA1BF; ">
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-md-6 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center">
                                            <img src="~/Content/imagenes/VerTodos.png" style="width: 50px; height: 50px;"  />
                                            @*<button type="button" id="filtrosAll" style="background: none; border: none; color: #3DA1BF; cursor: pointer;" class="text-center">
            <h6>Ver todos</h6>
        </button>*@
                                            <a href="#" data-value="8" id="filtrosAll"> <h6 style="color: #3DA1BF;" class="text-center">Ver todos</h6></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        @*container de assest Inicio*@
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="cardContairnerAssest" @*style="display:none;"*@>

        </div>
    </div>
    @*container de assest Fin*@
</div>


<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

@*<script src="~/Content/assets/js/app.js"></script>*@
<script src="~/Scripts/grupos.js"></script>
